API-Ollama/
Backend/
backups/
ETL/
Frontend/
Grafana/*
!Grafana/data-dashboards/
!Grafana/data-dashboards/**
!Grafana/provisioning/
!Grafana/provisioning/**
Mobile/
Datasets/

.env

healthai_install.log